<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shontae's Webpage</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>Welcome, you are now a student of Zoetic Academy!!!</h1>
  </body>
</html>
