<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shontae's Webpage</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header>
      <h1>Zoetic Digital Development</h1>
    </header>
    <section>
      <!--This is the page that will display for /login one form that has usernameand password inputs and only one submit button   -->
      <ul class='error'>
        {{#errors}}
        <li>{{msg}}</li>
        {{/errors}}
      </ul>
      <form id="input" action="/login" method="post">
        <input class="input" type="text" name="username" placeholder="login" value=""/>
        <input class="input" type="password" name="password" placeholder="password" value=""/>
        <input class="button" type="submit" name="" value="login"/>
      </form>

    <div id="notAUser" class="error">
      {{NotAUserMsg}}
    </div>

    </section>
  </body>
</html>
